[submodule "backend"]
	path = backend
	url = https://github.com/hikmetsuicmez/eventverse-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/hikmetsuicmez/eventverse-frontend.git
